*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: linear-gradient(75deg,#2E3192,#1BFFFF,#009245,blue,teal,#FFBBBB,#2E3192);
    justify-content: center;
    align-items: center;
    color: bisque;
}

h1{
    position: fixed;
    color: black;
    top: 4%;
    font-size: 3vw;
    text-shadow: 0 0 5px #6E0DD0,0 0 5px #00FFFF;
}
.sec{
    font-size: x-large;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 300px;
    height: 350px;
    background:#F2EA02;
    border-radius: 25px;
    box-shadow: 0 0 50px black ;
}
.password{
    padding-top: 30px;
    padding-bottom: 10px;
    width: 100%;
    padding-left: 10px;
}
.password input{
    border-radius: 20px;
    padding-left: 20px;
    font-size: large;
    width: 80%;
    height: 30px;
}
#copy{
    height: 30px;
    width: 45px;
    font-size: large;
    border-radius: 5px;
    background-color: black;
    color: #FF9535;
}
.range{
    width: 100%;
    padding-bottom: 20px;
    padding-left:10px;
}
.range input{
    width: 80%;
}
.options{
    width: 100%;
    height: 200px;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 120px;
}
#butt{
    height: 25px;
    width: auto;
    font-size: large;
    color:	#f52789;
    background-color: 	#3d144c;
    border-radius: 5px;
    float: right;
}
